etc-pihole/gravity_old.db
etc-pihole/config_backups/pihole.toml.1
etc-pihole/migration_backup/adlists.list
etc-pihole/config_backups/pihole.toml.2
etc-pihole/gravity_backups/gravity.db.1
etc-pihole/listsCache/list.1.raw.githubusercontent.com.domains
etc-pihole/listsCache/list.1.raw.githubusercontent.com.domains.etag
etc-pihole/listsCache/list.1.raw.githubusercontent.com.domains.sha1
